@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Jost:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&family=Skranji&display=swap');

/*Main styles and Home*/

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    overflow: hidden;
    font-family: "Skranji", Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(/src/Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(5px);
    scale: 1.2;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, rgba(147, 226, 127, 0.555), rgb(82, 207, 138));
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(73, 131, 60);;
}

.header button {
    border: 2px solid black;
    height: 2rem;
    width: auto;
    border-radius: 5px;
    background-color: rgb(116, 240, 182);
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 25%;
}

.main {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#bmo, #house {
    width: auto;
    height: 300px;
}

#clock {
    width: auto;
    height: 200px;
}

.chef, .description, .hours {
    width: 25%;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.274);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/*Menu*/

.bmocake {
    position: absolute;
    left: 270px;
    top: 350px;
    text-align: center;
}

#bmocake {
    width: auto;
    height: 200px;
    border: 5px solid black;
    border-radius: 5px;
}

.baconpancakes {
    position: absolute;
    left: 780px;
    top: 200px;
    text-align: center;
}

#baconpancakes {
    width: auto;
    height: 200px;
    border: 5px solid black;
    border-radius: 5px;
}

.perfectsandwich {
    position: absolute;
    left: 1180px;
    top: 370px;
    text-align: center;
}

#perfectsandwich {
    width: auto;
    height: 200px;
    border: 5px solid black;
    border-radius: 5px;
}

.bmocake h2, .baconpancakes h2, .perfectsandwich h2 {
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 10px;
}

/*Contact*/

.contactmain {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactus {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.274);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

#phone {
    position: absolute;
    width: auto;
    height: auto;
    left: 150px;
}

#phone2 {
    position: absolute;
    width: auto;
    height: 400px;
    right: 150px;
    top: 134px;
}

/*Interactivity*/

button {
    transition: 0.2s;
}

button:hover {
    background-color: rgb(74, 233, 159);
    transition: 0.2s;
}

button:active {
    background-color: rgb(74, 233, 159);
    scale: 0.95;
    transition: 0.2s;
}

.main {
    overflow: hidden;
}

.chef, .description, .hours {
    transition: 0.5s;
}

.chef:hover, .description:hover, .hours:hover {
    transition: 0.5s;
    scale: 1.05;
}

#bmocake, #baconpancakes, #perfectsandwich {
    transition: 0.5s;
}

#bmocake:hover, #baconpancakes:hover, #perfectsandwich:hover {
    transition: 0.5s;
    filter: drop-shadow(0px 0px 20px white);
}

.bmocake p, .baconpancakes p, .perfectsandwich p {
    transition: 0.5s;
}

.bmocake:hover p, .baconpancakes:hover p, .perfectsandwich:hover p {
    transition: 0.5s;
    filter: drop-shadow(0px 0px 5px white);
}